<!DOCTYPE html>
<html>
<head>
  <title>社團博覽聊天室</title>
  <meta charset="UTF-8">
  <script src="js/vue.js"></script>
  <script src="js/socket.io.js"></script>
  <link rel="stylesheet" href="css/question.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="./css/chatroom.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="navbar navbar-dark bg-dark navbar-expand-lg">
        <a class="navbar-brand" href="#">社團博覽聊天室</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">首頁<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="http://iced.nehs.hc.edu.tw">ICED</a>
            </li>
          </ul>
    
        </div>
      </nav>
      <div id="App">
          <div class="messaging" >
              
              <div class="mesgs" >
                <div class="msg_history" id="msgb">
                  
                 
                  <div v-if="obj">
                      <div class="incoming_msg" v-for="msg in obj.message">
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>{{msg.text}}</p>
                            <span class="time_date"> {{msg.time}}    |    Today</span></div>
                        </div>
                      </div>
                    </div>




                </div>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input type="text"  v-model="qText" class="write_msg" placeholder="Type a message" />
                    <button class="msg_send_btn" v-on:click="submit" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
    
      </div>
      <script>
        var socket = io.connect(window.location.origin+":5000");
        function pad2(number) {
          return (number < 10 ? '0' : '') + number
        }

      var app = new Vue({
       el: '#App',
       data: {
           obj: null,
           qName: null,
           qText: null
         },
       methods: {
         updateQs: function(event) {
            socket.emit('getQs','plz');
            
         },
         submit: function(){
           var d = new Date();
           socket.emit('new_message',{
             "text":this.qText,
             "time": pad2(d.getHours()) +":"+ pad2(d.getMinutes())
           });
           this.qName = '';
           this.qText = '';
         }
       }
      })
      socket.on('connect',function(data){
    
        socket.emit('join','Hello World');
        socket.emit('get_data','plz');
      });
      socket.on('data_update',function(data){
        let objDiv = document.getElementById("msgb");
        if(objDiv.scrollTop + obj.offsetHeight == objDiv.scrollHeight){
          setTimeout(function(){
            objDiv.scrollTop = objDiv.scrollHeight;
          },100);
        }
        app.obj = JSON.parse(data);
      });
      </script>
</body>
</html>
 